<button mat-raised-button (click)="open()">Issue Tracking Detail</button>
<button mat-raised-button color="warn" (click)="logout()">LogOut</button>

<br />
<br />
<br />
<!-- <button mat-raised-button (click)="demo()">Demo</button> -->
<!-- <app-demo1></app-demo1> -->
<!-- <app-post-comment></app-post-comment> -->

<!-- <app-issue-detail-meta-body-container-part2></app-issue-detail-meta-body-container-part2> -->
<!-- <app-issue-detail-meta-body-container-part1></app-issue-detail-meta-body-container-part1> -->
